
{{!-- {{ui/header changeTab=this.changeTab}} --}}
<Ui::Header @changeTab={{action changeTab}}  @currentTab={{this.currentTab}}/>

<div class="container">
    {{#if (eq currentTab "invoice") }}
        <Invoice::Invoice 
            @changeTab={{action changeTab}}  
            @store={{@store}}
            @customer={{@customer}}
            @products={{@products}}
        
         />
    {{/if}}

    {{#if (eq this.currentTab "supplier") }}
        {{!-- <Invoice::Invoice /> --}}
        <Customer::Supplier 
            @changeTab={{action changeTab}} 
            @store={{@store}}
            />
    {{/if}}

    {{#if (eq this.currentTab "buyer") }}
        {{!-- <Invoice::Invoice /> --}}
        <Customer::Buyer 
            @changeTab={{action changeTab}} 
            @store={{@store}}
            />
    {{/if}}

    {{#if (eq this.currentTab "products") }}
        {{!-- <Invoice::Invoice /> --}}
        <Products 
            @changeTab={{action changeTab}} 
            @store={{@store}}
            />
    {{/if}}

</div>