{{yield}}
<form {{action (perform this.createSupplier) on='submit'}}>

    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            {{input value=this.supplier.name type="text"  class="form-control" placeholder="Name" required="true"}}

        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">CNIC</label>
        <div class="col-sm-10">
            {{input value=this.supplier.cnic type="text"  class="form-control" placeholder="CNIC" required="true"}}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            {{input value=this.supplier.address type="text"  class="form-control" placeholder="Address" required="true" }}

        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Telephone</label>
        <div class="col-sm-10">
            {{input value=this.supplier.phone type="text"  class="form-control" placeholder="Telephone" required="true"}}

        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">STRN</label>
        <div class="col-sm-10">
            {{input value=this.supplier.strn type="text"  class="form-control" placeholder="STRN" required="true"}}

        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">NTN</label>
        <div class="col-sm-10">
            {{input value=this.supplier.ntn type="text"  class="form-control" placeholder="NTN" required="true" }}

        </div>
    </div>
    <button type="submit" class="btn btn-primary float-right" data-toggle="modal">
        Create Supplier
    </button>

</form>