{{yield}}
<div class="row mt-3">
  <div class="form-group col-md-6">
    <div class="input-group mb-3">
      <label for="inputGroupSelect01">Choose Supplier</label>
      <select class="js-example-basic-single form-control" onchange={{action "selectSupplier" value="target.value" }}
        id="supplierSelect" name="supplier">
        {{#each this.supplier as |s|}}
        <option value={{s.id}} selected={{s.selected}}>{{s.name}}</option>
        {{/each}}
      </select>
      <button {{action @changeTab "supplier"}} type="button" style="height: 29px;width: 30px;padding: 0; margin: 0"
        class="btn btn-primary" data-toggle="modal" data-target="#uuuu">+</button>
    </div>
    <table>
      <tbody>
        <tr>
          <td colspan="5" class="align-middle">Name:</td>
          <td class="align-middle">{{selectedSupplier.name}}</td>
        </tr>
        <tr>
          <td colspan="5" class="align-middle">Cnic:</td>
          <td class="align-middle">{{selectedSupplier.cnic}}</td>

        </tr>
        <tr>
          <td colspan="5" class="align-middle">Address:</td>
          <td class="align-middle">{{selectedSupplier.address}}</td>

        </tr>
        <tr>
          <td colspan="5" class="align-middle">Phone:</td>
          <td class="align-middle">{{selectedSupplier.phone}}</td>

        </tr>
        <tr>
          <td colspan="5" class="align-middle">STRN:</td>
          <td class="align-middle">{{selectedSupplier.strn}}</td>
        </tr>
        <tr>
          <td colspan="5" class="align-middle">NTN:</td>
          <td class="align-middle">{{selectedSupplier.ntn}}</td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group col-md-6">
    <div class="input-group mb-3">
      <label for="inputGroupSelect01">Choose Buyer</label>
      <select class="js-example-basic-single form-control" onchange={{action "selectBuyer" value="target.value" }}
        id="buyerSelect" name="buyer">
        {{#each this.buyer as |b|}}
        <option value={{b.id}} selected={{b.selected}}>{{b.name}}</option>
        {{/each}}
      </select>
      <button {{action @changeTab "buyer"}} type="button" style="height: 29px;width: 30px;padding: 0; margin: 0"
        class="btn btn-primary" data-toggle="modal" data-target="#uuuu">+</button>

    </div>
    <table>
      <tbody>
        <tr>
          <td class="align-middle">Name:</td>
          <td class="align-middle">{{selectedBuyer.name}}</td>
        </tr>
        <tr>
          <td class="align-middle">Cnic:</td>
          <td class="align-middle">{{selectedBuyer.cnic}}</td>

        </tr>
        <tr>
          <td class="align-middle">Address:</td>
          <td class="align-middle">{{selectedBuyer.address}}</td>

        </tr>
        <tr>
          <td class="align-middle">Phone:</td>
          <td class="align-middle">{{selectedBuyer.phone}}</td>

        </tr>
        <tr>
          <td class="align-middle">STRN:</td>
          <td class="align-middle">{{selectedBuyer.strn}}</td>

        </tr>
        <tr>
          <td class="align-middle">NTN:</td>
          <td class="align-middle">{{selectedBuyer.ntn}}</td>

        </tr>

      </tbody>




    </table>
  </div>

</div>

<div class="container-fluid">
  <table id="productSizes" class="table table-striped">
    <thead>
      <tr class="d-flex">
        <th class="col-4">DESCRIPTION</th>
        <th class="col-2">QUANTITY</th>
        <th class="col-2">RETAIL PRICE</th>
        <th class="col-4">TOTAL AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      {{#each invoice_details as |details index|}}
      <tr class="d-flex">
        <td class="col-4">
          <select class="js-example-basic-single form-control"
            onchange={{action (mut details.product ) value="target.value"  }} id="productSelect-{{index}}"
            name="product">
            {{#each @products as |p|}}
            <option value={{p.id}}>{{p.model}}</option>
            {{/each}}
          </select>
        </td>
        <td class="col-2">
          {{input value=details.qty type="number"  class="form-control"  required="true"}}
        </td>
        <td class="col-2">
          {{input value=details.retail_price type="number"  class="form-control"  required="true"}}
        </td>
        <td class="col-4">{{multiply  details.qty details.retail_price}}<button {{action "removeDetail" index}}
            type="button" class="btn btn-danger float-right">-</button></td>
      </tr>
      {{/each}}
      {{productSelect}}
      <tr>
        <button {{action "addRemoveDetails" true}} type="button" class="btn btn-primary">+</button>
        <button {{action "addRemoveDetails" false}} type="button" class="btn btn-danger">-</button>
      </tr>
    </tbody>
  </table>

  <table class="table table-borderless">

    <tbody>
      <tr class="d-flex">
        <td class="col-6"></td>
        <td class="col-4">Total Retail Value</td>
        <td class="col-2">{{total-cal invoice_details "total_retail" 17}}</td>
      </tr>
      <tr class="d-flex">
        <td class="col-6"></td>
        <td class="col-4">Sales Tax 17%</td>
        <td class="col-2">{{total-cal invoice_details "salesTax" 17}}</td>
      </tr>
      <tr class="d-flex">
        <td class="col-6"></td>
        <td class="col-4">Total Value Inclusive of SalesTax</td>
        <td class="col-2">{{total-cal invoice_details "inclusive" 17}}</td>
      </tr>
      <tr class="d-flex">
        <td class="col-6"></td>
        <td class="col-4">Disscount</td>
        <td class="col-2">{{total-cal invoice_details "discount" 17 13}}</td>
      </tr>
      <tr class="d-flex ">
        <td class="col-6"></td>
        <td class="col-4">Net Value Inclusive of SalesTax</td>
        <td class="col-2">{{total-cal invoice_details "netTotal" 17 13}}</td>
      </tr>
      <tr class="d-flex second float-right">
        <td class="col-12">
          <button {{action "submitInvoice"}} type="button" class="btn btn-primary">Save Invoice</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{{!-- <div class="modal fade" id="uuuu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div> --}}